{{template "base" .}}

  {{ define "body"}}
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Contact Us</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem unde velit deleniti repellendus laborum distinctio quibusdam est, magnam sed, magni nobis reiciendis explicabo eum nihil possimus rem omnis! Consequuntur?</p>
        </div>
        <div class="col">
          <h1>clo-2</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim autem unde velit deleniti repellendus laborum distinctio quibusdam est, magnam sed, magni nobis reiciendis explicabo eum nihil possimus rem omnis! Consequuntur?</p>
        </div>
      </div>
    </div>
  {{ end }}