{{ template "base" .}}

{{ define "body" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Home-col-1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestiae exercitationem dolore eaque corrupti nobis, tempora obcaecati reiciendis iste repudiandae sint expedita officia inventore libero corporis, non ea voluptatem impedit?</p>
      </div>
      <div class="col">
        <h1>Home-col-2</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae obcaecati necessitatibus sit mollitia consequatur recusandae ullam assumenda commodi. Dolor, harum laudantium fugiat ipsum reprehenderit eaque voluptates aut non animi voluptatibus.</p>
      </div>
      <div class="col">
        <h1>Home-col-3</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae obcaecati necessitatibus sit mollitia consequatur recusandae ullam assumenda commodi. Dolor, harum laudantium fugiat ipsum reprehenderit eaque voluptates aut non animi voluptatibus.</p>
      </div>
    </div>
  </div>
{{ end }}